button {
  margin-right: 3rem;
}

div {
  margin: 1rem;
}

.navbar {
  justify-content: space-between;
}

span {
  padding-right: 1rem;
}

mat-sidenav,
mat-sidenav-content {
  padding: 16px;
}

mat-sidenav {
  background: lightcoral;
  width: 200px;
}

mat-list-item,
a,
mat-tab-group,
mat-form-field {
  background: black;
  color: white;
}

mat-grid-tile {
  background: lightblue;
}

table {
  width: 100%;
}
